*{
    padding: 0%;
    margin: 0;
}

body{
    text-align: center;
    background-color: grey;
}

.container{
     height: 70vh;
     display: flex;
     text-align: center;
     gap: 1.5vmin;
     justify-content: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.5vmin;
    justify-content: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: black;
    font-size: 8vmin;
    color: red;
    background-color: aquamarine;
}

#reset-btn{
    padding: 2vmin;
    border: none;
    border-radius: 1rem;
    color: rgb(33, 29, 36);
    font-size: 4vmin;

}

#new-game{
    padding: 1vmin;
    border: none;
    border-radius: 1rem;
    color: rgb(33, 29, 36);
    font-size: 4vmin;
}

#msg{
    font-size: 8vmin;
    color: rgb(85, 238, 9);
}
.msg-container{

    height: 25vmin;
}

.hide{
    display: none;
}